body {
  background-color: whitesmoke;
  text-align: center;
}

.gameboard {
  display: inline-block;
  text-align: center;
  background-color: brown;
}

.cell {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: whitesmoke;
  margin: 5px;
  display: inline-block;
  verti
}

.cell.empty {
  cursor: pointer;

}